<table class="table container-fluid table-borderless " th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <thead>
        <tr>
            <th scope="col">
                <a href="#">


                    <img src="../../../assets/images/hosto-logo.jpg" class="img-fluid" alt="" width="100px" /></a>
            </th>
            <th scope="col">
                <a href="#">
                    <img src="../../../assets/images/logo-siglo.jpg" class="img-fluid img-rounded" width="100px"
                        alt="" />
                </a>
            </th>
            <th scope="col">
                <a href="#">
                    <img src="../../../assets/images/logo-mecanz.jpg" class="img-fluid img-rounded" width="100px"
                        alt="" /></a>
            </th>
            <th scope="col">
                <a href="#">
                    <img src="../../../assets/images/zerey-logo.jpg" class="img-fluid img-rounded" alt=""
                        width="100px" />
                </a>
            </th>
            <th scope="col">
                <a href="#">
                    <img src="../../../assets/images/logo-pcmm.png" class="img-fluid img-rounded" width="100px"
                        alt="" />
                </a>
            </th>
            <th scope="col">
                <a href="#">
                    <img src="../../../assets/images/logo-tbn.png" class="img-fluid img-rounded" width="100px" alt="" />
                </a>
            </th>
            <th scope="col">
                <a href="#">
                    <img src="../../../assets/images/amron-logo.jpg" class="img-fluid img-rounded" alt=""
                        width="100px" />
                </a>
            </th>
            <th scope="col">
                <a href="#">
                    <img src="../../../assets/images/logo-osonyer.jpg" class="img-fluid img-rounded" width="100px"
                        alt="" />
                </a>
            </th>
            <th scope="col">
                <a href="#">
                    <img src="../../../assets/images/logo-len.png" class="img-fluid img-rounded" width="100px" alt="" />
                </a>
            </th>
            <th scope="col">
                <a href="#">
                    <img src="../../../assets/images/logo-lats.jpg" class="img-fluid img-rounded" alt=""
                        width="100px" />
                </a>
            </th>
            <th scope="col">
                <a href="#">
                    <img src="../../../assets/images/logo-rakroj.jpg" class="img-fluid img-rounded" width="100px"
                        alt="" />
                </a>
            </th>
            <th scope="col">
                <a href="#">
                    <img src="../../../assets/images/logo-ponderacion.png" class="img-fluid img-rounded" width="100px"
                        alt="" />
                </a>
            </th>


        </tr>
    </thead>


</table>